@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/ralewy/Raleway-Regular.ttf');
}


@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/ralewy/Raleway-Bold.ttf');
}


@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

